@use "../base";
@use "../utils/classes";
@use "../utils/typography";
@use "../components/bouttons";
@use "../components/form";
@use "../components/table";
@use "../layout/navbar";
@use "../base/theme";

.dashboard{
    background-color: theme.$gray-main;
    height: auto;
    z-index: -100 !important ;
    font-family: theme.$base-text-lato;
}

.dash{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
                        "dash__title"
                        "dash__aside"
                        "dash__section"
    ;
    width: 90%;
    margin: auto;

    &__title{
        font-weight: bold;
        margin-top: 80px;
        margin-bottom: 40px;
    }

    &__aside{
        grid-area: dash__aside;
        display: flex;
        justify-content: space-around;
        margin-bottom: 40px;
    }

     &__aside .pannel-info{
        padding: 20px;
        background-color: theme.$white-main;
        border-radius: 20px;
     }

     &__aside{
        .pannel-info{
            display: flex;
            align-items: center;

            &__icon{
                padding: 10px;
            }

            &__content{

                .status-content{

                    &__paragraphe{
                        color: theme.$gray-main-dash;
                        margin-top: 10px;
                    }

                    &__nombre{
                         margin-top: 10px;
                    }

                }

            }

        }
     }


     &__section{
        background-color: theme.$white-main;
        padding: 20px;
        border-radius: 20px;
        margin-bottom: 50px;

        .recherche{
           

            &__btn{
                 margin-left: 25px;
                 margin-right: 25px;
            }
        }
     }
}


@media(max-width: 1260px){
    
    .dash{

         &__aside{
            display: flex;
            flex-direction: column;
            margin-bottom: 15px;

           .pannel-info{
            margin-bottom: 20px;
           }
         }

         &__section .c-form-select{
            display: flex;
            width: 100%;
            margin-bottom: 20px;
         }

    }
   
 }

 @media(max-width: 816px){

     .dash{

         &__aside{
            
            width: 90%;
            margin: auto;

         }

         &__section{

            .c-table-aspect thead{
                    font-size: 12px !important;
                    border: 0px solid red;
            }

         }

     }

 }


 @media(max-width: 764px){

     .dash{

        

         &__aside{
            
            width: 90%;
            margin: auto;

         }

     }

 }

 @media(max-width: 722px){

     .dash{

        width: 100%;

         &__aside{
            
            width: 80%;
            margin: auto;

         }

     }

 }

 @media(max-width: 706px){

     .dash{
          width: 100%;
        
         &__aside{
            
            width: 80%;
            margin: auto;

         }

     }

 }

 @media(max-width: 700px){

     .dash{
          width: 100%;
        
         &__aside{
            
            width: 80%;
            margin: auto;

         }

     }

 }


 @media(max-width: 676px){

     .dash{
          width: 100% !important;
        
         &__aside{
            
            width: 80% !important;
            margin: auto;

         }

         &__section{

            .c-table-aspect {
                    font-size: 12px !important;
                    border: 0px solid red;
            }

         }

     }

 }

 @media(max-width: 644px){

    .dash{
          width: 100%;
        
         &__aside{
            
            width: 80% !important;
            margin: auto;

         }

        &__section{

            width: 90%;
            padding: 10px;
            border-radius: 20px;
            margin: auto;

            .c-table-aspect{
                display: block;
                width: 90%;
                margin: auto;
            }
            
        }

     }
    
}


@media(max-width: 572px){

    .dash{
          width: 100%;
        
         &__aside{
            
            width: 80% !important;
            margin: auto;

         }

        &__section{

            width: 90%;
            padding: 10px;
            border-radius: 20px;
            margin: auto;

            .c-table-aspect{
                display: none;
                width: 90%;
                margin: auto;
            }
            
        }

     }
    
}


 
