@use "../base";
@use "../utils/classes";
@use "../utils/typography";
@use "../components/bouttons";
@use "../layout/navbar";
@use "../layout/footer";
@use "../base/theme";
@use "../components/form";
.App {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
                         "home-header",
                         "container",
                         "footer-pages";

    .container{

        //mise en page section about
        &__about{
             .btn{
                position: absolute;
                top: 400px;
                left: 10px;
                &__left{
                    margin-right: 20px;
                    border: 0px solid red;
                    color:white !important;
                }
                &__right{
                    background-color: #c03afe !important;
                    border: 0px solid red;
                }
            }
        }
        
        &__about img{
            width: 100%;
            margin: auto;
            border: 0px solid red;
            position: relative;
        }

        &__about h1{
            position: absolute;
            top:170px;
            left: 0;
            font-size: theme.$fs-40;
            padding: 20px;
            color: white;
            font-family: theme.$montserrat;
        }

        &__about p{
            position: absolute;
            top: 320px;
            left: 0;
            padding: 20px;
            color: white;
            font-size: 18px;
            font-family: theme.$Raleway;
            line-height: 30px;

        }

        //----------------------------------------------------------------------


          //mise en page section Service
       &__services{
        width: 90%;
        margin: auto;
        font-family: theme.$Raleway;


        h1{
            margin-bottom: 20px;
            text-align: center;
            font-size: theme.$fs-40;
        }

        .paragraph{
            margin-bottom: 20px;
            text-align: center;
            line-height: 25px;

             .btn-services{
            background: linear-gradient(135deg, #2563EB, #4F46E5) !important; 
            }   
        }

       


        .service-group1{
            display: flex;
        
            &__content{
                border: 1px solid #e5e7eb; /* border-gray-200 */
                border-radius: 20px;
                padding: 25px;
                margin-right: 25px;
                width: 33%;
                margin-bottom: 20px;
                transition: 0.5s;
                h3{
                    margin-bottom: 20px;
                }
                p{
                    line-height: 25px;
                }

                .img-service img{
                    border-radius: 50%;
                    border: 0px solid red;
                }
            }

            &__content:hover{
                border-color: #93c5fd; /* border-blue-300 */
                box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); /* shadow-lg */
                 cursor: pointer;
                 transform: translateY(-4px); /* hover:-translate-y-1 */
            }

            @keyframes content {
                    0% {
                        transform: translateY(0);
                        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
                    }
                    100% {
                        transform: translateY(-4px);
                        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
                    }
                }

        }

        .service-group2{
            display: flex;
             &__content{
                border: 1px solid #f9ebff;
                border-radius: 20px;
                padding: 25px;
                margin-right: 25px;
                width: 33%;
                margin-bottom: 20px;
                transition: 0.5s;
                h3{
                    margin-bottom: 20px;
                }
                p{
                    line-height: 25px;
                }

                .img-service img{
                    border-radius: 50%;
                    border: 0px solid red;
                }
            }

            &__content:hover{
                border-color: #93c5fd; /* border-blue-300 */
                box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); /* shadow-lg */
                 cursor: pointer;
                 transform: translateY(-4px); /* hover:-translate-y-1 */
            }

            @keyframes content {
                    0% {
                        transform: translateY(0);
                        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
                    }
                    100% {
                        transform: translateY(-4px);
                        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
                    }
                }

        }


        /*display: flex;

        .service-description{
            font-family: theme.$poppins;
            &__group1{
                border: 0px solid red;
                display: flex;
                justify-content: space-evenly;

                .service1, .service2{
                    border: 1px solid #c03afe;
                    padding: 40px;
                    border-radius: 20px;
                    width: 40%;
                    transition: 0.5s;
                }

                .service1:hover, .service2:hover{
                     border-color: #fff;
                     box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
                     cursor: pointer;
                }

                .service1 img, .service2 img{
                    border-radius: 50%;
                }
            }

            &__group2{
                border: 0px solid #c03afe;
                display: flex;
                justify-content: space-evenly;

                 .service3, .service4{
                    border: 1px solid #c03afe;
                    padding: 40px;
                    border-radius: 20px;
                    width: 40%;
                    transition: 0.5s;
                }

                 .service3:hover, .service4:hover{
                     border-color: #fff;
                     box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
                     cursor: pointer;
                }

                .service3 img, .service4 img{
                    border-radius: 50%;
                }
            }
        }

         .service-description h3{
            font-family: theme.$montserrat;
            font-size: theme.$fs-40;
            padding: 15px;
         }*/
       }

       //---------------------------------------------------------


         //mise en page section Pub

      /* &__pub-contact img{
        width: 100%;
        position: absolute;
        top:0;
        left: 0;
       }*/

       &__pub-contact{
        background: linear-gradient(135deg, #2563EB, #4F46E5);
        height: 200px;
        display: flex;
        padding-left: 50px;
        padding-right: 50px;
        align-items: center;
        /*position: relative;*/

       .pub{
            /*position: absolute;
            border: 0px solid red;
            top: 30px;
            left: 0;*/
            display: flex;
            justify-content: space-between;
            width: 100%;
            color: white;
            padding: 20px;
            
            h3{
               
                width: 70%;
                border: 0px solid red;
                font-family: theme.$montserrat;
                font-size: 30px;

            }

            .btn-color{
                background-color: white !important;
                color: black;
                border: 0px solid red;
            }
        }

       }

      
       //------------------------------------------------------------

        &__partenaire img{
        position: relative;
       }


         //mise en page section Partenaire

       &__partenaire{
        position: relative;

        .displaypart{
            position: absolute;
            top:0;
            left: 0;
            border: 0px solid red;
        }

            .partenaire-logo{
                display: flex;
                justify-content: center;
                border: 0px solid red;
              
              
            }
            .partenaire-logo div{
                border: 0px solid red;
                display: flex;
                width: 100%;
                 
            }

            .partenaire-logo div img{
                width: 50%;
                margin: auto;
                border: 0px solid red;
                filter: grayscale(90%);
                transition: 0.5s;
            }

            .partenaire-logo .part-descr img{
                width: 50% !important;
                border-radius: 50%;
                margin: auto;
                border: 0px solid red;
                filter: grayscale(90%);
                transition: 0.5s;
                background-color: #2563EB !important;
            }
             .partenaire-logo div img:hover{
                filter: grayscale(0);
                cursor: pointer;
             }
       }

       &__partenaire h3{
            border: 0px solid red;
            font-family: theme.$montserrat;
            font-size: theme.$fs-40; 
            padding: 40px;
            color: black;
            text-align: center;
       }

       //--------------------------------------------------

         //mise en page section Equipe

        &__equipes h3{
            font-family: theme.$montserrat;
            color:black;
            font-size: theme.$fs-40;
            padding: 20px;
        }

       &__equipes{
            background: white;

            h3{
                text-align: center;
            }

            .equipe-mbeho{

                display: flex;
                border: 0px solid red;
                justify-content: center;
               
                padding: 40px;

                &__profil {
                    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
                    margin: 25px;
                    border-radius: 20px;
                    transition: 0.5s;
                    width: 18% !important;
                    border: 0px solid red;
                }

                &__profil:hover {
                    transform: scale(1.1);
                }

                &__arrow{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                &__arrow div{
                    background-color: theme.$gray-main;
                    color: #5B03E4;
                    border-radius: 50%;
                    padding: 20px;
                    width: 80%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
                }

                 &__arrow div:hover{
                    cursor: pointer;
                 }

                &__profil img{
                    width: 100%;
                    border: 0px solid red;
                    border-top-left-radius: 20px;
                    border-top-right-radius: 20px;
                    transition: 0.5s;
                    filter: grayscale(100%);
                }

                &__profil .scale{
                    transform: scale(1.1);
                    border: 0px solid red;
                }

                 &__profil img:hover{
                    cursor: pointer;
                    filter: grayscale(0);
                }

                &__profil p{
                    padding: 20px;
                    font-family: theme.$montserrat;
                    font-size: 18px;
                    color: #5B03E4;
                }
            }

       }

       //  -------------------------------------------------------

        //mise en page section Contact
       
       &__contact{
        /*position: relative;
        width: 100%;
        margin-bottom: 680px;*/
        background: linear-gradient(135deg, #267BFF, #92FE9D);
        border: 0px solid red;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;


        img {
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }

        .formcontact{
            /*position: absolute;
            top: 85px;
            left: 330px;*/
            width: 50%;
            border: 0px solid red;
            height: 90vh;
            padding: 20px;
            padding-top: 0px;
            padding-bottom: 0px;
            border-radius: 20px;
            background-color: white;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);

            h3{
                font-family: theme.$montserrat;
                font-size: 30px;
                padding: 40px;
                padding-left: 0px;
            }

            .btn-contact{
                width: 100%;
            }

            .contact-info{
                display: flex;
                justify-content: space-between;
                color: #5B03E4;
                font-family: theme.$nunito;
            }
        }

        .formcontact form input, select, textarea {
            width: 100%;
            margin-bottom: 5px;
            padding: 15px;
            background-color: #f9ebff;
            border: 1px solid linear-gar;
        }

       }

       //-----------------------------------------------------

       //mise en page section about

       &__footer{
        border: 0px solid red;
        font-family: theme.$nunito;
        display: flex;
        justify-content: center;
        background-color: #f9ebff;
        padding: 20px;
       }

     
    }


   
 }

 //media query 




 /*--------------------------------------------------------------------------------------------------*/

 //Desktop Grand Ecran

 @media only screen and (min-width: 1897px){


    .App {

            .container{
                &__about{
                     max-width: 100%;
                    border: 0px solid red;

                    .btn{
                        position: absolute;
                        top: 600px !important;
                        left: 90px !important;


                    }

                }

                 &__about p{
                    font-size: 28px;
                    top:450px;
                    left: 50px;
                    line-height: 40px;
                }

                &__about h1{
                    font-size: 125px;
                    top:290px;
                    left:50px;
                }

                 &__services img{
                    width: 60%;
                }

                 &__pub-contact{
                    width: 100%;
                    display: block;
                    margin-bottom: 370px;
                    .pub {
                        top: 60px;
                        border: 0px solid red;
                    }
                    .pub h3{
                        font-size: 45px;
                    }

                    .btn-color{
                        position: absolute;
                        right:60px;
                       top: 10px; 
                    }

                  }

                     &__contact{
                    height: 30%;
                    margin-bottom: 0px;
                img {
                    width: 100%;
                    border: 0px solid red;
                    height: 100%;
                }

                .formcontact{
                    top: 180px;
                    left: 470px;
                    width: 45%;
                    height: 80vh;
                  

                    .contact-info{
                        
                        border: 0px solid red;
                    }

                    form{
                        border: 0px solid red;
                        padding: 0;
                        height: 490px;
                        margin-top: 100px;
                        width: 80%;
                    }
                }

            }

             &__footer{
                width: 100%; 
                display: flex;
                border: 0px solid red;
            }


            }
        }


 }

 //Desktop

 @media(max-width: 1202px){

 }

 //Tablet 

 @media(max-width: 1114px){
    .App {
        .container{

              &__about{

                .btn{
                top:350px;
                left: 15px;
                border: 0px solid red;
                width: 220px;
                    
                &__left{
                   
                    border: 0px solid red;
                    width: 100% !important;
                    font-size: theme.$fs-14;
                    padding: 10px;
                }
                &__right{
                    display: none;
                    background-color: #c03afe !important;
                    border: 0px solid red;
                    font-size: 5px;
                    padding: 15px;
                    margin-right: 0;
                }
            }
                
              }

               &__about h1{
                top:130px;
                left: 0;
                font-size: theme.$fs-40;
             }

             &__about p{
                    top: 290px;
                    left: 0;
                    font-size: theme.$fs-16;
                    line-height: 20px;

            }

              &__services{
                display: block;
              }

               &__pub-contact{
                display: none;
               }

                &__partenaire{
                    display: block;
                }

                &__equipes{
                    display: block;
                }

                 &__contact{
                    display: block;
                        max-width: 100%; 
                        padding-top: 40px;
                        padding-bottom: 40px;

                        .formcontact{
                            margin: auto;
                            height: auto;
                        }

                 }





        }
 }

}

 @media(max-width: 1024px){
    .App {
        .container{

              &__about{

                .btn{
                top:350px;
                left: 15px;
                border: 0px solid red;
                width: 220px;
                    
                &__left{
                   
                    border: 0px solid red;
                    width: 100% !important;
                    font-size: theme.$fs-14;
                    padding: 10px;
                }
                &__right{
                    display: none;
                    background-color: #c03afe !important;
                    border: 0px solid red;
                    font-size: 5px;
                    padding: 15px;
                    margin-right: 0;
                }
            }
                
              }

               &__about h1{
                top:130px;
                left: 0;
                font-size: theme.$fs-40;
             }

             &__about p{
                    top: 290px;
                    left: 0;
                    font-size: theme.$fs-16;
                    line-height: 20px;

            }

              &__services{
                display: block;
              }

               &__pub-contact{
                display: none;
               }

                &__partenaire{
                    display: block;
                }

                &__equipes{
                    display: block;
                }

                 &__contact{
                    display: block;
                        max-width: 100%; 
                        padding-top: 40px;
                        padding-bottom: 40px;

                        .formcontact{
                            margin: auto;
                            height: auto;
                        }

                 }





        }
 }

}

 @media(max-width: 834px){
    .App {
        .container{

              &__about{

                .btn{
                top:300px;
                left: 15px;
                border: 0px solid red;
                width: 220px;
                    
                &__left{
                   
                    border: 0px solid red;
                    width: 100% !important;
                    font-size: theme.$fs-14;
                    padding: 10px;
                }
                &__right{
                    display: none;
                    background-color: #c03afe !important;
                    border: 0px solid red;
                    font-size: 5px;
                    padding: 15px;
                    margin-right: 0;
                }
            }
                
              }

               &__about h1{
                top:130px;
                left: 0;
                font-size: theme.$fs-32;
             }

             &__about p{
                    top: 260px;
                    left: 0;
                    font-size: 8px;
                    line-height: 15px;

            }

              &__services{
                display: block;
              }

               &__pub-contact{
                display: none;
               }

                &__partenaire{
                    display: block;
                }

                &__equipes{
                    display: block;
                }

                 &__contact{
                    display: block;
                        max-width: 100%; 
                        padding-top: 40px;
                        padding-bottom: 40px;

                        .formcontact{
                            margin: auto;
                            height: auto;
                        }

                 }





        }
 }

}

 @media(max-width: 820px){
    .App {
        .container{

              &__about{

                .btn{
                top:300px;
                left: 15px;
                border: 0px solid red;
                width: 220px;
                    
                &__left{
                   
                    border: 0px solid red;
                    width: 100% !important;
                    font-size: theme.$fs-14;
                    padding: 10px;
                }
                &__right{
                    display: none;
                    background-color: #c03afe !important;
                    border: 0px solid red;
                    font-size: 5px;
                    padding: 15px;
                    margin-right: 0;
                }
            }
                
              }

               &__about h1{
                top:130px;
                left: 0;
                font-size: theme.$fs-32;
             }

             &__about p{
                    top: 260px;
                    left: 0;
                    font-size: 8px;
                    line-height: 15px;

            }

              &__services{
                display: block;
              }

               &__pub-contact{
                display: none;
               }

                &__partenaire{
                    display: block;
                }

                &__equipes{
                    display: block;
                }

                 &__contact{
                    display: block;
                        max-width: 100%; 
                        padding-top: 40px;
                        padding-bottom: 40px;

                        .formcontact{
                            margin: auto;
                            height: auto;
                        }

                 }





        }
 }

}

 @media(max-width: 768px){
    .App {
        .container{

              &__about{

                .btn{
                top:300px;
                left: 15px;
                border: 0px solid red;
                width: 220px;
                    
                &__left{
                   
                    border: 0px solid red;
                    width: 100% !important;
                    font-size: theme.$fs-14;
                    padding: 10px;
                }
                &__right{
                    display: none;
                    background-color: #c03afe !important;
                    border: 0px solid red;
                    font-size: 5px;
                    padding: 15px;
                    margin-right: 0;
                }
            }
                
              }

               &__about h1{
                top:130px;
                left: 0;
                font-size: theme.$fs-32;
             }

             &__about p{
                    top: 260px;
                    left: 0;
                    font-size: 10px !important;
                    line-height: 15px;

            }

              &__services{
                display: block;
              }

               &__pub-contact{
                display: none;
               }

                &__partenaire{
                    display: block;
                }

                &__equipes{
                    display: block;
                }

                 &__contact{
                    display: block;
                        max-width: 100%; 
                        padding-top: 40px;
                        padding-bottom: 40px;

                        .formcontact{
                            margin: auto;
                            height: auto;
                        }

                 }





        }
 }

}

 //Smartphone

 @media(max-width: 576px){
    .App {
        .container{
            &__about{
                width: 100%;

                .btn{
                top:170px;
                left: 15px;
                border: 0px solid red;
               max-width: 100%;
                &__left{
                   
                    border: 0px solid red;
                    max-width: 40% !important;
                    font-size: 5px !important;
                    padding: 8px !important;
                }
                &__right{
                    display: none;
                    background-color: #c03afe !important;
                    border: 0px solid red;
                    width: 20%;
                    font-size: 5px;
                    padding: 8px;
                    margin-right: 0;
                }
            }
            }

             &__about img{
               margin-top: 40px;
            }

             &__about h1{
                top:60px;
                left: 0;
                font-size: theme.$fs-18;
             }

             &__about p{
                    top: 140px;
                    left: 0;
                    font-size: 6px !important;
                    line-height: 10px;

            }

            &__services{

                width: 80%;
                display: block;

                h1{
                    font-size: theme.$fs-32;
                }

                .service-group1{
                    display: block;
                    width: 100%;
                    
                    &__content{
                        width: 100%;
                        margin: auto;
                        margin-bottom: 15px;

                        .img-service{
                            width: 30%;
                        }
                    }
                }

                .service-group2{
                    display: none;
                }
                

            }

            &__services img{
                width: 100%;
            }

            &__pub-contact{
              
              display: none;

            }
            &__partenaire{
                width: 100%;
                display: block; 
                border: 0px solid red;
                margin-top: 100px;
                display: block;
            }

              &__partenaire .partenleft{
                display: block;
              }

            &__equipes{
                width: 100%; 
                display: block;
                 h3{
                    font-size: theme.$fs-32;
                }

                 .equipe-mbeho{
                        width: 100%;
                        border: 0px solid red;
                        padding: 0px;


                        &__profil {
                            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
                            margin: 5px;
                            width: 500px;
                            border: 0px solid red;
                        }

                        &__arrow{
                            display:  none;
                            border: 0px solid red;
                            width: 5px;
                        }


                        &__profil img{
                          
                            display: block;
                        }


                        &__profil p{
                            padding: 10px;
                            display: block;
                            font-size: 10px;
                        }
                    }
            }
            &__contact{
                max-width: 100%; 
                padding-top: 40px;
                padding-bottom: 40px;

                .formcontact{
                    margin: auto;
                    height: auto;

                    .contact-info{
                        font-size: 10px;
                    }
                }

            }
        }
    }
 }

   @media(max-width: 428px){
        .App {
        .container{
            
            &__contact{
                width: 100%;
        
            }
        }
    }
  }

  @media(max-width: 430px){
        .App {
        .container{
            
            &__contact{
              
                border: 0px solid red;

            }
        }
    }
  }

  @media(max-width: 442px){
        .App {
        .container{
            
            &__contact{
    
                border: 0px solid red;

            }
        }
    }
  }

  @media(max-width: 390px){
        .App {
        .container{
            
            &__contact{
                
                border: 0px solid red;

            }

        }
    }
  }

  @media(max-width: 375px){
        .App {
        .container{
            
            &__contact{
             
                border: 0px solid red;

            }
           
        }
    }
  }


    @media(max-width: 360px){
        .App {
        .container{
            
            &__contact{
                
                border: 0px solid red;

            }
            
        }
    }
  }

  @media(max-width: 320px){
        .App {
        .container{
            
            &__contact{
               
                border: 0px solid red;

            }
            
        }
    }
  }